<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>7G传媒 你我同行,成就未来!</title>
<meta name="description" content="7G传媒 你我同行,成就未来!" />
<meta name="keywords" content="7G传媒 你我同行 成就未来" />
<link type="text/css" href="__CSS__/base.css" rel="stylesheet" />
<!--[if lte IE 6]>
<script src="__JS__/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('div , a');
</script>
<![endif]--> 
</head>
<body>
<div id="main">
<div id="content">
<!--header-->
<div class="header">
	<a href="#" class="logo fl"></a>
    <div class="nav fr f16">
    	|<a href="{:U('/')}">首页</a>|
    	<a href="{:U('/registe')}">注册</a>|
        <a href="{:U('/news')}">新闻公告</a>|
        <a href="{:U('/question')}" class="dr">常见问题</a>|
    	<a href="{:U('/contact')}">客服中心</a>|
    </div>
</div>
<!--banner-->
<div class="pbanner p03"></div>
<!--main-->
<div class="main">
        <volist name="rows" id="row">
	<dl class="question">
		<dt class="f14">{$i}.{$row.title}？</dt>
		<dd>{$row.content}。</dd>
	</dl>
        </volist>
</div>
<!--main-->
</div>
</div>

<div class="footer">
  <p><a href="#">新闻公告</a>|<a href="#">常见问题</a>|<a href="#">客服中心</a></p>
    <p>Copyright ©2013-2014 Powered by 成都艾华网络科技有限公司 版权所有 蜀ICP备14005370号-1</p>
</div>
</body>
</html>
