<include file="./Application/Home/View/Public/header_member.html" menu='goods'/>
<link type="text/css" href="__CSS__/page.css" rel="stylesheet" />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/tipswindown.js"></script>
<if condition="count($cats) gt 1">
<div id="menu" class="f14">
  <div class="two">
    <a href="{:u('/getgoods'.$cat[0])}"<if condition="$catid eq $i">class="dr"</if>>全部</a>
    <volist name='cats' id='cat'>
    <a href="{:U('/getgoods'.$cat['id'])}" <if condition="$catid eq $i">class="dr"</if>>{$cat.category_name}</a>
    </volist>
    </div>
</div>
</if>
<div id="main">
<div id="content">
    	<table width="100%" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan=2>业务名称</th>
                <th width="11%">结算类型</th>
                <th width="11%">价格</th>
                <th width="11%">结算单位</th>
                <th width="12%">结算周期</th>
                <th width="11%">出数据时间</th>
                <th width="10%">申请推广</th>
                <th width="10%">业务咨询</th>
            </tr>
            <volist name='rows' id='row'>
            <tr <if condition="$row.have eq true">style="background: rgb(220,220,220);"</if>>
                <td style="text-align: right;">
                    <img src="{$row.goods_small_img}" width="" height="50">
                </td>
                <td style="text-align: left;">{$row.goods_name}</td>
                <td>
                    <if condition="$row['cash_type']  eq 0">金额
                    <else />分成
                    </if>
                </td>
                <td>
                    <if condition="$member eq elianjie">-<else />
                        <if condition="$row.cash_type eq 0">
                            ￥<span class="color1">{$row.down_price_1}</span>
                            <elseif condition="$row.cash_type eq 1"/>
                            <span class="color1">{$row.down_price_1}</span>%
                        </if>
                    </if>
                </td>
                <td>                    
                    <if condition="$row['measure'] eq 1">元/千ip检索
                    <elseif condition="$row['measure'] eq 2 " />元/千ip搜索
                    <elseif condition="$row['measure'] eq 3 " />元/激活
                    <else />以后选择
                    </if>
                </td>
                <td>
                    <if condition="$row['invoicing_cycle'] eq 0">每日
                        <elseif condition="$row['invoicing_cycle'] eq 1"/>每周
                        <elseif condition="$row['invoicing_cycle'] eq 2"/>双周
                        <elseif condition="$row['invoicing_cycle'] eq 3"/>每月
                    </if>
                </td>
                <td>
                    <if condition="$row['data_back'] eq 0">次日
                        <elseif condition="$row['invoicing_cycle'] eq 1"/>实时
                        <else />每周
                    </if>
                </td>
                <td>
                    <if condition="$row.applying eq 2">
                        <input type="submit" value="审核中" class="ibutton">
                    <elseif condition="$row.applying eq 1" />
                        <input type="submit" value="申请成功"  class="ibutton">
                    <else />
                        <input type="button" value="申请" class="ibutton iapply" _goods_id="{$row.id}" _member_id="{$member_id}">
                    </if>
                </td>
                <td>
                    <if condition="($row.category_id eq 1) or ($row.category_id eq 2)">
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3147455531&site=qq&menu=yes">
                            <img border="0"  src="http://wpa.qq.com/pa?p=2:3147455531:42" alt="联系我们!" title="联系我们!" />
                        </a>
                    <else/>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2186025311&site=qq&menu=yes">
                            <img border="0"  src="http://wpa.qq.com/pa?p=2:2186025311:42" alt="联系我们!" title="联系我们!" />
                        </a>
                    </if>
                </td>
            </tr>
            </volist>
        </table>
        <!--分页工具条 开始-->
        <div id="turn-page" class="page">
            {$pageHTML}
        </div> 
        <!--分页工具条 结束-->     
<include file="./Application/Home/View/Public/footer.html" />
<script type="text/javascript"> 
   //为联系客服注册点击事件
   $(".cursor").click(function(){
       alert("请联系我们的QQ客服！");
   });
   $('.iapply').click(function(){
        var goods_id = $(this).attr('_goods_id');
        var members_id = $(this).attr('_member_id');
        $.post(
                "{:U('Goods/applyGoods')}",
                {goods_id:goods_id, members_id:members_id},
                function(data){
                    var mes=data==1?"申请成功":"申请失败";
                    alert(mes);
                    location.reload();
                    //location.href="{:U('Admin/Goods/index')}";
                }
            );
   });
</script>
</body>
</html>
