<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
		<rules>
                <rule name="CanonicalHostName">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.7g\.cc$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.7g.cc/{R:1}" />
                </rule>
			<rule name="OrgPage" stopProcessing="true">
				<match url="^(.*)$" />
				<conditions logicalGrouping="MatchAll">
					<add input="{HTTP_HOST}" pattern="^(.*)$" />
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="index.php/{R:1}" />
			</rule>
		</rules>
	</rewrite>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="ASPClassic" />
        </handlers>
    </system.webServer>
</configuration>
