<div class="left fl">
    <div class="face"></div>
    <div class="nav0">
        <a href="{:U('Index/index')}" class="n1">基本信息</a>
        <a href="{:U('Members/index')}" class="n2">用户信息</a>
        <a href="{:U('Goods/index')}" class="n3">产品信息</a>
        <a href="{:U('Invoicing/invoicing')}" class="n4">结算列表</a>
        <a href="{:U('Apply/index')}" class="n3">申请列表</a>
        <a href="{:U('Cash/cash')}" class="n5">提现列表</a>
        <a href="{:U('News/index')}" class="n6">新闻公告</a>
        <a href="{:U('Question/index')}" class="n7">常见问题</a>
    </div>
</div>