<include file="./Application/Home/View/Public/header_member.html" menu='ad'/>
<link type="text/css" href="__CSS__/tipswindown.css" rel="stylesheet" />
<link type="text/css" href="__CSS__/page.css" rel="stylesheet" />
<script type="text/javascript" src="__JS__/tipswindown.js"></script>

    <table width="100%" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2">产品名称</th>
            <th>平台类型</th>
            <th>结算周期</th>
            <th>价格</th>
            <th>状态</th>
            <th>数据接口</th>
        </tr>
        <volist name="goods" id="row">
            <tr>
                <td rowspan="<?php echo count($row['links']);?>">
                    <img src="{$row.goods_small_img}" />
                </td>
                <td rowspan="<?php echo count($row['links']);?>">
                    {$row.goods_name}
                </td>
                <td rowspan="<?php echo count($row['links']);?>">
                    {$cates[$row['category_id']]['category_name']}
                </td>
                <td rowspan="<?php echo count($row['links']);?>">
                    {$invoicing_cycle[$row['invoicing_cycle']]}
                </td>
                <volist name="row.links" id="link">
                <if condition="$key eq 0">
                    <td>{$link.down_price_1}</td>
                    <td>{$link.state}</td>
                    <td>
                        <if condition="($row.category_id eq 1) or ($row.category_id eq 2)">
                            <a href="{$host_url}{$link.link_url}" target="_blank">{$host_url}{$link.link_url}</a>
                            <a href="{$host_url}{$link.link_url}" target="_blank">[下载]</a>
                        <else/>
                            <a href="javascript:;">{$link.link_url}</a>
                            <a href="javascript:;">[复制]</a>
                        </if>
                    </td>
                </if>
                </volist>
            </tr>
            <volist name="row.links" id="link">
                <if condition="$key gt 0">
                <tr>
                    <td>{$link.down_price_1}</td>
                    <td>{$link.state}</td>
                    <td>
                        <if condition="($row.category_id eq 1) or ($row.category_id eq 2)">
                            <a href="{$host_url}{$link.link_url}" target="_blank">{$host_url}{$link.link_url}</a>
                            <a href="{$host_url}{$link.link_url}" target="_blank">[下载]</a>
                        <else/>
                            <a href="javascript:;">{$link.link_url}</a>
                            <a href="javascript:;">[复制]</a>
                        </if>
                    </td>
                </tr>
            </if>
            </volist>
        </volist>
    </table>
</div>
</div>
<include file="./Application/Home/View/Public/footer.html" />
</body>
</html>
