<include file="./Application/Home/View/Public/header.html" />

<!--banner-->
<div class="pbanner p04"></div>
<!--main-->
<div class="main">
	<div class="nr f14">
		<p>
			渝网广告联盟隶属于江西渝网科技有限公司旗下，为专业的应用程序广告投放平台。<br />
江西渝网科技有限公司（简称：渝网科技），注册成立于2012年，是一家专业从事互联网广告精准投放的企业。<br />
渝网科技总部设立在江西省上饶市广丰区电子商务产业园，并在北京海淀区上地设有分公司。公司拥有一批来自国内知名互联网企业的小伙伴，核心员工来自搜狐、360及国内知名站长从业5年以上的资深互联网人员。 <br />
渝网科技已为猎豹移动、腾讯、百度、搜狗、神马搜索、优酷等广告主提供PC端及移动端应用程序广告分发服务。<br />
		</p>
	</div>	
</div>
<!--main-->
</div>
</div>

<include file="./Application/Home/View/Public/footer.html" />

</body>
</html>
