<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>渝网传媒 你我同行,成就未来!</title>
        <meta name="description" content="渝网传媒 你我同行,成就未来!" />
        <meta name="keywords" content="渝网传媒 你我同行 成就未来" />
        <link type="text/css" href="/Public/css/base.css" rel="stylesheet" />
        <link type="text/css" href="/Public/css/lrtk.css" rel="stylesheet" />
        <script type="text/javascript" src="/Public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/Public/js/lrtk.js"></script>
        <!--<script type="text/javascript" src="/Verify/Index/common"></script>-->
        <!--[if lte IE 6]>
            <script src="/Public/js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
            <script type="text/javascript">
                DD_belatedPNG.fix('div , a');
            </script>
            <![endif]--> 
    </head>
    <body>
        <div id="main">
            <div id="content">
                <!--header-->
                <div class="header">
                    <a href="#" class="logo fl"></a>
                    <div class="nav fr f16">
                        <a href="/"  >首页</a>|
                        <a href="/registe.html"  >注册</a>|
                        <a href="/news.html"  >新闻公告</a>|
                        <a href="/question.html"  >常见问题</a>|
                        <a href="/contact.html"  >客服中心</a>
                    </div>
                </div>


<!--banner-->
<div class="pbanner p04"></div>
<!--main-->
<div class="main">
	<div class="nr f14">
		<p>
			渝网广告联盟成立以来，发展非常迅猛，吸纳了大批经验丰富的网络营销专家和实力强大的技术研发人员，拥有多台高性能服务器和稳定的系统平台，具备雄厚的技术力量及资金实力，完善的信息管理和客户服务管理制度，有足够的实力为广大客户提供优质的服务。
		</p>
	</div>	
</div>
<!--main-->
</div>
</div>

<include file="./Application/Home/View/Public/footer.html" />

</body>
</html>
