<include file="./Application/Home/View/Public/header.html" />

<!--banner-->
<div class="pbanner p10"></div>
<!--main-->
<div class="main">
	<div class="nr f14">
		<p>
			尊敬的用户：<br />
			本网站一贯高度重视知识产权的保护，并一贯遵守中华人民共和国各项知识产权法律、法规及其他的具有法律约束力的规范性文件。本网站认为著作权人的著作权应当得到尊重和法律应有的保护，坚决反对任何违反中华人民共和国有关著作权的法律法规的行为。<br />
			您如果发现有他人未经您同意而将您享有著作权的作品上传至本网站的，请您根据《版权保护投诉指引》与本网站联系。<br />
			版权保护投诉指引<br />
			通知程序：<br />
			若权利人认为本公司所提供的信息存储空间、搜索或链接服务存储、搜索或链接的内容所涉及的作品侵犯了相关权利，可向本公司提交书面通知，要求本公司删除该作品，或者断开该作品的链接。通知书需权利人亲笔签名，若为单位则需加盖单位公章。<br />
			通知书应当包含下列内容：<br />
			1. 权利人的姓名（名称）、联系方式、地址、身份证复印件（自然人）、单位登记证明复印件（单位）及证明等证明权利人主体身份的材料；<br />
			2. 要求删除或者断开链接的侵权作品的准确名称和网络地址；<br />
			3. 认为构成侵权的初步证明材料，包括但不限于相关有权机构颁发的版权证书、作品首次公开发表或发行日期证明材料、创作手稿等。 <br />权利人应对通知书的真实性负责，承担全部法律责任。本公司收到权利人的通知后，将立即删除涉嫌侵权的作品，或者断开涉嫌侵权作品的链接，并同时将通知书转送作品提供者。<br />
			反通知程序：<br />
			作品提供者收到本公司转送的通知书后，认为其提供的作品并未侵犯他人权利的，可向本公司提交反通知的书面说明，要求恢复被删除的作品或被断开的作品链接。反通知书需权利人亲笔签名，若为单位则需加盖单位公章。<br />
			反通知应当包含下列内容：<br />
			1. 作品提供者的姓名（名称）、联系方式、地址、身份证复印件（自然人）、单位登记证明复印件（单位）及证明等证明权利人主体身份的材料；<br />
			2. 要求恢复被删除的作品，或者被断开链接的作品的准确名称和网络地址；<br />
			3. 认为不构成侵权的初步证明材料，包括但不限于相关有权机构颁发的版权证书、作品首次公开发表或发行日期证明材料、创作手稿等。<br />
			作品提供者应对反通知书的真实性负责，承担全部法律责任。本公司收到作品提供者的反通知后，将立即恢复被删除的作品，或者被断开的作品链接，同时将作品提供者的反通知转送权利人。本公司对恢复被删除作品，或者被断开作品链接的行为不承担任何法律责任。权利人不得再通知本公司删除该作品，或者断开与该作品的链接。<br />
			邮寄地址：江西省上饶市广丰经济开发区双金路广丰电子商务生态产业园A1栋3楼<br />
			争议解决<br />
			尊重用户个人隐私是本网站的一项基本政策。所以，本网站一定不会在未经合法用户授权时公开、编辑或透露其注册资料及保存在本网站中的非公开内容，除非有法律许可要求或本网站在诚信的基础上认为透露这些信息在以下四种情况是必要的：<br />
		</p>
	</div>	
</div>
<!--main-->
</div>
</div>

<include file="./Application/Home/View/Public/footer.html" />

</body>
</html>
