intellectual<include file="./Application/Home/View/Public/header.html" />

<!--banner-->
<div class="pbanner p04"></div>
<!--main-->
<div class="main">
	<div class="nr f14">
		<p>
			渝网科技对其发行的或与合作公司共同发行的包括但不限于产品或服务的全部内容及渝网科技网站上的材料拥有版权和/或其他相关知识产权，受法律保护。
渝网科技所有设计图样、其他图样、产品及服务名称，均为渝网科技及/或其关联公司所享有的商标、标识，未经渝网科技同意任何人不得使用、复制或用作其他用途。
渝网科技对其专有内容、原创内容和其他通过授权取得的独家或非独家内容享有完全知识产权，不因任何单位和个人的任何使用行为而发生转移。
凡侵犯渝网科技任何知识产权的，渝网科技必依法追究其法律责任。
		</p>
	</div>	
</div>
<!--main-->
</div>
</div>

<include file="./Application/Home/View/Public/footer.html" />

</body>
</html>
