<include file="./Application/Home/View/Public/header.html" />

<!--banner-->
<div class="pbanner p04"></div>
<!--main-->
<div class="main">
	<div class="nr f14">
		<p>
			欢迎阅读江西渝网科技有限公司的隐私权保护规则。您的隐私对本公司非常重要。本隐私权保护规则制约本公司收集有关您的资料及您对本公司提供给您的资料之使用。<br />
			1、 您在使用我们的服务时，我们可能会根据需要收集和使用您的相关信息。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。您使用或继续使用我们的服务，即意味着同意我们按照本《隐私政策》收集、使用、储存和分享您的相关信息。<br />
			2、 我们提供服务时，可能会收集、储存和使用下列与您有关的信息：<br />
			• 您在注册账户或使用我们的服务时，向我们提供的相关个人信息；<br />
			• 您通过我们的服务向其他方提供的共享信息，以及您使用我们的服务时所储存的信息；<br />
			• 其他方使用我们的服务时所提供有关您的共享信息。<br />
			• 如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。<br />
			3、我们可能将在向您提供服务的过程之中所收集的信息用作下列用途：<br />
			• 向您提供服务；<br />
			• 在我们提供服务时，用于身份验证、客户服务、安全防范、存档和备份用途；<br />
			• 使我们更加了解您如何接入和使用我们的服务，从而针对性地回应您的个性化需求，改善我们的服务；<br />
			• 软件认证或管理软件升级；<br />
			• 其他根据相关法律法规、法院命令、政府机关要求或其他法律程序要求使用。<br />
			4、本公司仅按现有技术提供相应的安全措施来使本公司掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其它服务器备份数据和对用户密码加密。尽管有这些安全措施，但本公司不保证这些信息的绝对安全。下列情况本公司亦毋需承担任何责任：<br />
			• 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。<br />
			• 任何由于黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。<br />
			• 由于与本公司链接的其它公司所造成之个人资料泄露及由此而导致的任何法律争议和后果。<br />
			5、未成年人（年龄18周岁以下人士）无资格在没有监督的情况下使用本公司的服务，本公司要求未成年人不要向本公司提交任何个人资料。如果您年龄为18周岁以下，您只可以与您的父母或监护人一起或在您的父母或监护人监督下使用此项服务。<br />
			6、本政策及您与本公司之关系，均受到中华人民共和国法律管辖。本公司未行使或执行本政策任何权利或规定，不构成对前述权利或权利之放弃。 <br />倘本政策之任何规定因与中华人民共和国法律抵触而无效，您依然同意应依照法律，努力使该规定所反映之当事人意向具备效力，且本政策其他规定仍应具有完整的效力及效果。<br />
			7、本《隐私政策》仅适用于我们所收集的信息，并不适用于任何第三方提供的服务或第三方的信息使用规则，我们对任何第三方使用由您提供的信息不承担任何责任。<br />
			8、我们可能适时修订本《隐私政策》的条款，该等修订构成本《隐私政策》的一部分。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的本《隐私政策》的约束。<br />
		</p>
	</div>	
</div>
<!--main-->
</div>
</div>

<include file="./Application/Home/View/Public/footer.html" />

</body>
</html>
