<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>渝网传媒 你我同行,成就未来!</title>
<meta name="description" content="渝网传媒 你我同行,成就未来!" />
<meta name="keywords" content="渝网传媒 你我同行 成就未来" />
<link type="text/css" href="__CSS__/base.css" rel="stylesheet" />
<!--[if lte IE 6]>
<script src="__JS__/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('div , a');
</script>
<![endif]--> 
</head>
<body>
<div id="main">
<div id="content">
<!--header-->
<div class="header">
	<a href="#" class="logo fl"></a>
    <div class="nav fr f16">
    	|<a href="{:U('/')}">首页</a>|
    	<a href="{:U('/registe')}">注册</a>|
        <a href="{:U('/news')}">新闻公告</a>|
        <a href="{:U('/question')}">常见问题</a>|
    	<a href="{:U('/contact')}" class="dr">客服中心</a>|        
    </div>
</div>
<!--banner-->
<div class="pbanner p04"></div>
<!--main-->
<div class="main">
	<div class="nr f14">
<p>渝网传媒是由江西渝网科技有限公司创办，是一家专注于设首导航，软件推广，移动端APP分发的联盟平台，日均导航量百万级，在国内属于一流代理商，软件安装和移动端分发也居于全国同类联盟前列。 渝网传媒致力于为广大的互联网同胞们提供优质，高效，高回报的网络产品，目前已有数家大的推广商加入到渝网联盟的大家庭，我们有专业的团队，高效的数据分析平台，让我们在快乐与自由中创造价值，收获价值！</p>
	</div>
	<div class="nr f14">导航业务QQ：Coco：<img style="CURSOR: pointer" onClick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=3147455531&amp;site=qq&amp;menu=yes');" border="0" src="http://wpa.qq.com/pa?p=2:3147455531:42"></div>
	<div class="nr f14">移动APP业务QQ：Yoyo：<img style="CURSOR: pointer" onClick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=2186025311&amp;site=qq&amp;menu=yes');" border="0" src="http://wpa.qq.com/pa?p=2:2186025311:42"></div>
    <div class="nr f14">投诉与建议QQ：Allen：<img style="CURSOR: pointer" onClick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=1760010505&amp;site=qq&amp;menu=yes');" border="0" src="http://wpa.qq.com/pa?p=2:1760010505:42"></div>
    </div>
<!--main-->

<div class="footer">
  <p><a href="#">新闻公告</a>|<a href="#">常见问题</a>|<a href="#">客服中心</a></p>
    <p>Copyright © 2013-2016 渝网联盟效果营销平台【赣ICP备15012890号】</p>
</div>
</body>
</html>
