<extend name='Common/base' />
<block name='left'>
    <include file="./Application/Admin/View/Public/left.html" />
</block>
<block name='src'>
<link rel="stylesheet" href="__CSS__/bootstrap.min.css" type="text/css">
<link type="text/css" href="__CSS__/base_1.css" rel="stylesheet" />
<link type="text/css" href="__CSS__/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery-ui-datepicker.js"></script>
<script type="text/javascript" src="__JS__/jquery.tmpl.min.js"></script>
</block>    
<block name='right'>
    <div class="right">
    
        <include file="./Application/Admin/View/Public/top.html" />       
        <div class="con">
           
            <br />
            <div class="tit f20" style="margin-top: 0px; margin-left: -20px;">
                <span>产品列表</span>
               
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="productTable" id="data">
                <thead>
                    <tr>
                        <th style="width:100px;">产品ID</th>
                        <th>推广(下载)URL</th>
                        <th style="width:70px;">扣量率</th>
                        <th style="width:100px;">上游价格</th>
                        <th style="width:100px;">下游价格</th>
                        <th style="width:100px;">用户名</th>
                        <th style="width:100px;">产品名称</th>
                        <th style="width:250px;">操作</th>                        
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td>{$link.id}</td>
                            <td>{$link.link_url}</td>
                            <td>{$link.discount}</td>
                            <td>{$link.up_price_1}</td>
                            <td>{$link.down_price_1}</td>                       
                            <td>
                                <if condition="$link.members_id neq 0">
                                    {$members[$link['members_id']]['username']}
                                </if>
                            </td>
                            <td>{$link.site_name}</td>
                            <td>
                                <a href="{:U('editLink','id='.$link['id'])}" class="sb4">修改链接</a>
                                <a href="javascript:void(0);" class="sb5" onclick="delGoodsLink(this)" value="{$link.id}">删除</a>
                                <a href="{:U('editData','id='.$link['id'])}" class="sb6" onclick="(this)" value="{$link.id}">添加数据</a>                               
                            </td>
                        </tr>
                    
                </tbody>
            </table>

            <div id="turn-page" class="page">
                {$pageHTML}
            </div> 
             <div>
                <div class="tit f20" style="margin-top: 0px; margin-left: -20px;">
                <span>产品数据</span>
                
                </div>
                <table border="0" cellpadding="0" cellspacing="0" class="productTable" id="data">
                <tr><th>id</th><th>产品名称</th><th>产品数据</th><th>数据日期</th><th>归档状态</th></tr>
                <tr><td id='id'>{$link.id}</td>
                <td>{$link.site_name}</td>
                <td><input type="text" id="click_num"  value=""/></td>
                <td>
                <div class="bok" style="_margin-top:20px;">
                  <div class="time fl">日期：</div>
                  <div class="time fl"><input type="text" id="date_1" name="date_1" readonly /></div> <input type="submit"  id='submit'value="submit" />                      
                </div>
            </td>
                <td></td>
                </tr>
                </table>
            </div>
        </div>
   </div> 
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript">
    $(function(){
        $("#date_1").datepicker();  
    });
</script>
<script>
  $("#submit").click(function(){
    //alert("Value: " + $("#date_1").val());
    var id=$("#id").text();
    var date=$("#date_1").val();
    var click_num=$("#click_num").val();
    //var id= 10004;
    //var date = '2014-10-10';
    //var click_num = 100;
        
     $.post(
                "{:U('Goods/editData')}",
                {click_num:click_num,date:date,id:id},
                function(data){
                    var mes=data==1?"成功":"失败";
                    //var mes=data;
                    alert(mes);
                   
                }
            );
        });
    $("#submit").click(function(){
        setTimeout(function(){window.history.go(-1);},3000); 
    });



/*
$('table td').click(function(){    
        if(!$(this).is('.input')){    
            $(this).addClass('input').html('<input type="text" value="'+ $(this).text() +'" />').find('input').focus().blur(function(){    
                var thisid = $(this).parent().siblings("th:eq(0)").text();    
                var thisvalue=$(this).val();    
                var thisclass = $(this).parent().attr("class");      
                 
                $.ajax({    
                  type: 'POST',    
                  url: 'update.php',    
                  data: "thisid="+thisid+"&thisclass="+thisclass+"&thisvalue="+thisvalue    
                });    
                $(this).parent().removeClass('input').html($(this).val() || 0);    
            });                        
        }    
    }).hover(function(){    
        $(this).addClass('hover');    
    },function(){    
        $(this).removeClass('hover');    
    });    
    });
    */
</script>





</block>
<!--右边内容部分-->
<!----自定义JS部分-------->




    