<extend name='Common/base' />
<block name='left'>
    <include file="./Application/Admin/View/Public/left.html" />
</block>    
<block name='right'>
    <div class="right">
    	<include file="./Application/Admin/View/Public/top.html" />
        <div class="tit f20">
            <span>产品信息</span>
            <a class="f12 cursor" data-toggle="modal" data-target="#myModal">增加产品</a> 
            <!--<a href="{:U('import')}" class="f12">导入报表数据</a>-->
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">增加产品</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form1" name="form1" method="post" action="{:U('Goods/add')}" onsubmit="return jQuery.formValidator.PageIsValid('1')" enctype="multipart/form-data" >
                            <div class="form-group">
                                <lable>平台类型：</lable>
                                <select class="form-control" name='category_id'>
                                    <option value="0">请选择平台类型</option>
                                    <volist name='cats' id='cat'>
                                    <option value="{$cat.id}">{$cat.category_name}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="form-group">
                                <lable>结算类型：</lable>
        		                <select class="form-control" name="cash_type" >
                                    <option>请选择结算类型</option>
        		                    <volist name="cashType" id="cash">
                                        <option value="{$key}">{$cash}</option>
                                    </volist>
        		                </select>
                            </div>
                            <div class="form-group">
                                <lable>产品名称：</lable>
                                <input type="text" name='goods_name' class="form-control" placeholder="请输入产品名称">
                            </div>
                            <div class="form-group">
                                <lable>产品logo：</lable>
                                <input type="file" name="logo" class="form-control">
                            </div>                
                            <div class="form-group">
                                <lable>最大接口数：</lable>
                                <input type="text" name='max_links' class="form-control" placeholder="最大接口数">
                            </div>       
                            <div class="radio">
                                <span>产品状态：</span>
                                <volist name="states" id="state">
                                    <label class="radio-inline">
                                        <input type="radio" name="state" value="{$key}" <if condition="$key eq '1'">checked</if>>{$state}
                                    </label>
                                </volist>
                            </div>               
                            <div class="radio"> 
                                <span>结算方式：</span>
                                <volist name="invoicing_cycle" id="cycle">
                                    <label class="radio-inline">
                                        <input type="radio" name="invoicing_cycle" value="{$key}" <if condition="$key eq '0'">checked</if>>{$cycle}
                                    </label>
                                </volist>
                            </div>       
                            <div class="radio">
                                <span>数据返回：</span>
                                <volist name="data_back" id="dback">
                                    <label class="radio-inline">
                                        <input type="radio" name="data_back" value="{$key}" <if condition="$key eq '0'"> checked</if>>{$dback}
                                    </label>
                                </volist>
                            </div>            
                            <lable>产品说明:</lable>
                            <textarea class="form-control" rows="3" name='intro'></textarea>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" id="confirm">确认提交</button>
                                <input type="reset" value="重置" class="btn btn-info">
                            </div>
                        </form>                
                    </div>
                </div>
            </div>
        </div>  
        <div class="con">
            <table border="0" cellpadding="0" cellspacing="0" class="productTable" id="data">
                <thead>
                    <tr>
                        <th style="width:70px;">产品ID</th>
                        <th colspan=2>产品名称</th>
                        <!--<th>剩余接口数</th>-->
                        <th>平台类型</th>
                        <th style="width:80px;">结算<br />类型</th>
                        <th style="width:80px;">结算<br />周期</th>
                        <th style="width:80px;">状态</th>
                        <!--<th style="width:80px;">置顶</th>-->
                        <th style="width:250px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="rows" id="row">
                        <tr>
                            <td>
                                <span>{$row.id}</span>
                            </td>
                            <td style="text-align: right;">
                                <img src="{$row.goods_small_img}" width="30" height="30">
                            </td>
                            <td style="text-align: left;">
                                <a href="javascript:;">{$row.goods_name}</a>
                            </td>
                            <!--<td>
                                <if condition="$row['have'] eq 0">
                                    0
                                <else/>
                                    <a class="sb6" href="{:U('MembersProduct/getItems','goods_id='.$row['id'])}">{$row.have}</a>
                                </if>
                            </td>-->
                            <td>
                                {$cats[$row['category_id']]['category_name']}
                            </td>
                            <td>
                                {$cashType[$row['cash_type']]}
                            </td>
                            <td>
                                {$invoicing_cycle[$row['invoicing_cycle']]}
                            </td>
                            <td>
                                <if condition="$row['state'] eq 1">
                                    <a class="sb3" href="javascript:void(0);" onclick="control({$row.id},0,0)">正常</a>
                                <else />
                                    <a class="sb5" href="javascript:void(0);" onclick="control({$row.id},0,1)">关闭</a>
                                </if>
                            </td>
                            <!--<td>
                                <if condition="$row['top_time'] eq 0">
                                    <a class="sb4" href="javascript:void(0);" onclick="control({$row.id},1,1)">置顶</a>
                                <else />
                                    <a class="sb3" href="javascript:void(0);" onclick="control({$row.id},1,0)">取消</a>
                                </if>
                            </td>-->
                            <td>
                                <!--<a href="{:U('addUser','goods_id='.$row['id'].'&category='.$row['category_name'])}" class="sb4">增加用户</a>
                                <a href="{:U('goodsData','goods_id='.$row['id'])}" class="sb4">查看数据</a>-->
                                <a href="{:U('links','id='.$row['id'])}" class="sb4">添加链接</a>
                                <a href="{:U('edit','id='.$row['id'])}" class="sb4">修改产品</a>
                                <a href="javascript:void(0);" class="sb5" onclick="delGoods(this)" value="{$row.id}">删除</a>
                            </td>
                        </tr> 
                    </volist>
                </tbody>
            </table>
            <div id="turn-page" class="page">
                {$pageHTML}
            </div> 
        </div>
    </div> 
</block>
<!--右边内容部分-->
<!----自定义JS部分-------->
<block name='js'>
<script type="text/javascript">
    //点击增加用户的时候，触发的函数
    $("#addUsers").click(function(){
        //查出用用户名
        var userName=$(".form-control[name='members_name']").val();
        $.post(
            "{:U('Members/getMembersId')}",
            {name:userName},
            function(data){
                if(data!==0){   //有对应的会员信息，要提交表单
                    $.ajax({
                        type: 'post',
                        url: '{:U("Members/addMembersProduct")}',
                        data: $("#form1").serialize(),
                        success: function(mes) {
                            if(mes!==0){   //已经保存成功
                                console.debug(mes);
                                //location.href="{:U('finishSeats')}"+"?reservation_id="+data;
                            }
                        }
                    });
                }else{
                    alert("该会员不存在！");
                }
            }
        );
        return false;
    });
    function control(id,type,val)
    {
    
        if(type==0 && !confirm("你确定要["+(val==0?"关闭":"开启")+"]这款产品吗？"))
        	return;
            $.post(
                "{:U('Goods/control')}",
                {id:id,type:type,val:val},
                function(data){
                    var mes=data==1?"操作成功":"操作失败";
                    alert(mes);
                    location.href="{:U('Admin/Goods/index')}";
                }
            );
    }
    //点击“查看数据”触发的函数
    function checkData(demo){
        var id=$(demo).attr("value");
        alert(id);
    }
    //点击 删除产品 所触发的函数
    function delGoods(demo){
        var id=$(demo).attr("value");
        if(confirm("你确定要删除吗？")){
            $.post(
                "{:U('Goods/delGoods')}",
                {id:id},
                function(data){
                    var mes=data==1?"删除成功":"删除失败";
                    alert(mes);
                    location.href="{:U('Admin/Goods/index')}";
                }
            );
        }
    }
</script>
</block>
