<extend name='Common/base' />
<block name='left'>
    <include file="./Application/Admin/View/Public/left.html" />
</block>    
<block name='right'>
    <div class="right">
    	<include file="./Application/Admin/View/Public/top.html" />
        <div class="tit f20">
            <span>产品申请列表</span>
        </div>
         
        <div class="con">
            <table border="0" cellpadding="0" cellspacing="0" class="productTable" id="data">
                <thead>
                    <tr>
                        <th style="width:70px;">申请ID</th>
                        <th colspan="2">产品ID</th>
                        <th>用户名</th>
                        <th style="width:250px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="goodsApplies" id="row">
                        <tr>
                            <td>{$row.id}</td>
                            <td style="text-align: right;"><a href="{:U('Admin:Goods/links?id=10009')}" target="_blank"><img src='{$goods[$row['goods_id']]['goods_small_img']}'/></a></td>
                            <td style="text-align: left;"><a href="{:U('Admin:Goods/links?id=10009')}" target="_blank">{$goods[$row['goods_id']]['goods_name']}</a></td>
                            <td><a href="{:U('Admin:Members/index')}" target="_blank">{$members[$row['members_id']]['username']}</a></td>
                            <td>
                                <a href="javascript:;" class="sb4 applyAgree" _id="{$row.id}">审核通过</a>
                                <a href="javascript:;" class="sb4 applyRefuse" _id="{$row.id}">审核拒绝</a>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            <div id="turn-page" class="page">
                {$pageHTML}
            </div> 
        </div>
    </div> 
</block>
<!--右边内容部分-->
<!----自定义JS部分-------->
<block name='js'>
<script type="text/javascript">
    $(".applyAgree").click(function(){
        if(confirm('您确定审核通过该申请么')){
            var id = $(this).attr('_id');
            if(id > 0){
                $.post(
                    "{:U('Apply/applyAgree')}",
                    {id:id},
                    function(data){
                        if(data == 1){
                            alert('审核成功');
                            location.reload();
                        }else{
                            alert('审核失败');
                        }
                    }
                );
            }else{
                alert('参数错误，请刷新重试');
            }
        }
    });

    $(".applyRefuse").click(function(){
        if(confirm('您确定拒绝该申请么')){
            var id = $(this).attr('_id');
            if(id > 0){
                $.post(
                    "{:U('Apply/applyRefuse')}",
                    {id:id},
                    function(data){
                        if(data == 1){
                            alert('操作成功');
                            location.reload();
                        }else{
                            alert('操作失败');
                        }
                    }
                );
            }else{
                alert('参数错误，请刷新重试');
            }
        }
    });


</script>
</block>