<include file="./Application/Home/View/Public/header_member.html" menu='info'/>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/formValidator_min.js"></script>
<!--导航栏 结束-----> 
<div id="menu" class="f14">
	<div class="one">
	<a href="{:U('/userinfo')}">概况</a>
	<a href="{:U('/individual')}" class="dr">个人信息</a>
	<a href="{:U('/pass')}">修改密码</a>
	<a href="{:U('/shenqingtixian')}">申请提现</a>
    </div>
</div>
<div id="main">
<div id="content">
<if condition="$edit eq false">
    <h2 class="f20">个人信息<a href="{:U('/individual','edit=1')}">修改</a></h2>
    <div class="bok bheight590">
    	<div class="tit f14">基本信息</div> 
        <div class="con">
        	<dl>
            	<dt>用户名：</dt>
                <dd>{$member["username"]}</dd>
            </dl>
        	<dl>
            	<dt>QQ：</dt>
                <dd>{$member["qq"]}</dd>
            </dl>
        	<dl>
            	<dt>手机：</dt>
                <dd>{$member["tel"]}</dd>
            </dl>
        	<dl>
            	<dt>邮箱：</dt>
                <dd>{$member["email"]}</dd>
            </dl>
        	<dl>
            	<dt>注册日期：</dt>
                <dd>{$member["enter_time"]}</dd>
            </dl>
        </div>
        <div class="tit f14 mtop10">基本信息</div>
        <div class="con">
        	<dl>
            	<dt>收款人：</dt>
                <dd>{$member["payee"]}</dd>
            </dl>
        	<dl>
            	<dt>银行信息：</dt>
                <dd>{$member["bank_name"]}</dd>
            </dl>
        	<dl>
            	<dt>银行账户：</dt>
                <dd>{$member["bank_account"]}</dd>
            </dl>
        	<dl>
            	<dt>开户行地址：</dt>
                <dd>{$member["bank_addr"]}</dd>
            </dl>
	   </dl>
                <dl>
                <dt>支付宝：</dt>
                <dd>{$member["zhifubao"]}</dd>
            </dl>
	<div><img src={$member["photo_url"]} style="width:100px;" ></img></div>
        </div>
    </div>
<else />
    <h2 class="f20">修改个人信息</h2>
    <div class="bok bheight590">
    	<form id="form1" name="form1" method="post"  enctype="multipart/form-data" action="#"   onsubmit="return jQuery.formValidator.PageIsValid('1')">
    	<div class="tit f14">基本信息</div> 
        <div class="con">
        	<dl>
            	<dt>用户名：</dt>
                <dd>{$member["username"]}</dd>
            </dl>
        	<dl>
           	  <dt>QQ：</dt>
                <dd><input name="qq" type="text" class="text" id="qq" value="{$member["qq"]}" /><span id="qqTip"></span></dd></dd>
            </dl>
        	<dl>
            	<dt>手机：</dt>
                <dd><input name="tel" type="text" class="text" id="tel" value="{$member["tel"]}" /><span id="telTip"></span></dd>
            </dl>
        	<dl>
            	<dt>邮箱：</dt>
                <dd><input name="email" type="text" class="text" id="email" value="{$member["email"]}" /><span id="emailTip"></span></dd>
            </dl>
        </div>
        <div class="tit f14 mtop10">基本信息</div>
        <div class="con">
        	<dl>
            	<dt>收款人：</dt>
                <dd>{$member["payee"]}</dd>
            </dl>
        	<dl>
            	<dt>银行信息：</dt>
                <dd><input name="bank_name" type="text" class="text" id="bank_name" value="{$member["bank_name"]}" /><span id="bank_nameTip"></span></dd>
            </dl>
        	<dl>
            	<dt>银行账户：</dt>
                <dd><input name="bank_account" type="text" class="text" id="bank_account" value="{$member["bank_account"]}" /><span id="bank_accountTip"></span></dd>
            </dl>
        	<dl>
            	<dt>开户行地址：</dt>
                <dd><input name="bank_addr" type="text" class="text" id="bank_addr" value="{$member["bank_addr"]}" /><span id="bank_addrTip"></span></dd>
            </dl>
		<dl>
                <dt>支付宝：</dt>
                <dd><input name="zhifubao" type="text" class="text" id="zhifubao" value="{$member["zhifubao"]}" /><span id="zhibubaoTip"></span></dd>
            </dl>
		<dl>
                <dt>个人照片</dt>
                <dd><input name="photo" type="file" id="photo" value="{$member["photo_url"]}" /><span id="photoTip"></span></dd>
            </dl>
		<div class="button"><input type="submit" id="button" value="提交" class="ibutton" />
		  <input type="reset" id="button2" value="取消" class="qbutton" onclick="history.back(-1)" />
		</div>
        </form>
    </div>
</if>
<script>

$(document).ready(function(){
	$.formValidator.initConfig({alertMessage:false});
	$("#qq").formValidator({onshow:"QQ由数字组成",onfocus:"QQ由数字组成",oncorrect:"填写正确"}).InputValidator({min:5,max:11,onerror:"由数字组成"}).RegexValidator({regexp:"^[0-9]*$",onerror:"QQ由数字组成"});
	
	$("#tel").formValidator({onshow:"由11位数字组成",onfocus:"由11位数字组成",oncorrect:"填写正确"}).InputValidator({min:11,max:11,onerror:"由11位数字组成"}).RegexValidator({regexp:"^[0-9]*$",onerror:"由11位数字组成"});
	
	$("#email").formValidator({onshow:"请输入您的邮箱",onfocus:"请确保他的真实有效",oncorrect:"填写正确"}).InputValidator({min:6,max:100,onerror:"Email地址长度为6至100个字符"}).RegexValidator({regexp:"^([\\w-.]+)@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.)|(([\\w-]+.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(]?)$",onerror:"邮箱格式不正确"});
	
	$("#bank_name").formValidator({onshow:"银行信息",onfocus:"银行信息",oncorrect:"填写正确"}).InputValidator({min:2,onerror:"银行信息"}).RegexValidator({regexp:"^.*$",onerror:"银行信息"});
	
	$("#bank_account").formValidator({onshow:"请输入银行账号，由6位以上字符组成",onfocus:"银行账号长度最少需要6个字符",oncorrect:"填写正确"}).InputValidator({min:6,onerror:"银行账号长度最少需要6个字符"}).RegexValidator({regexp:"^[0-9]",onerror:"由6位以上字符组成"});

	$("#bank_addr").formValidator({onshow:" xx省xx市xx分行xx支行",onfocus:" xx省xx市xx分行xx支行",oncorrect:"填写正确"}).InputValidator({min:2,onerror:" xx省xx市xx分行xx支行"}).RegexValidator({regexp:"^.*$",onerror:" xx省xx市xx分行xx支行"});
	});
</script>
</div>
    </div>
<include file="./Application/Home/View/Public/footer.html" />
</body>
</html>
