<extend name='Common/base' />
<!--左边导航部分-->
<block name='left'>
    <include file="./Application/Admin/View/Public/left.html" />
</block>    
<!--左边导航部分-->
<block name='right'>
<div class="right">
	<include file="./Application/Admin/View/Public/top.html" />
    <!---添加用户的区域------>
 <div class="con">
    	<form id="form1" method="post" action="" onsubmit="return jQuery.formValidator.PageIsValid('1')">
            <input type="hidden" name="goods_id" value="{$id}" id="goods_id">
        <dl>
            <dt>平台类型：</dt>
            <dd>{$category}</dd>
    	</dl>
    	<dl>
            <dt>产品名称：</dt>
            <dd>{$goods_name}</dd>
    	</dl>
    	<dl>
            <dt>用户名：</dt>
            <dd>
                <input type="hidden" name="members_id" id="members_id">
                <input name="username" type="text" class="text" id="username" /><span id="usernameTip"></span>
            </dd>
    	</dl>
    	<dl>
            <dt>扣率：</dt>
            <dd><input name="discount" type="text" class="text" id="kou" value="{$discount}" />%</dd>
    	</dl>
    	<dl>
            <dt>1号数据下游价：</dt>
            <dd><input name="dprice1" type="text" class="text" id="dnum" value="{$down_price_1}" /></dd>
    	</dl>
        <div class="button">
            <input type="submit" name="button" id="button" value="提交后并查看" class="ibutton" />
        </div>
    </form>
    </div>    
</div>
</block>
<!-----JS部分---------->
<block name='js'>
<script language="JavaScript" type="text/javascript">	
$(".ibutton").click(function(){
    // 根据用户名查询是否有这个用户
    var members_name=$("#username").val();
    $.post(
        "{:U('Members/getMembersId')}",
        { name:members_name},
        function(data){
            if(data!==0){
                $("#members_id").val(data);
                $.ajax({
                    type: 'post',
                    url: '{:U("addUser")}',
                    data: $("#form1").serialize(),
                    success: function(data) {
                        if(data==1){   //已经保存成功
                            alert("成功为会员添加产品!");
                            location.href="{:U('Product/index')}";
                        }else if(data==-1){
                            alert("该会员已经拥有该产品!");
                        }else if(data==-2){
                            alert("该会员已经被禁用!");
                        }
                        else{
                            alert("添加会员产品失败!");
                        }
                    }
                });                
            }else{
                alert("不存在该会员！");
            }
        }
    );
    return false;
});
$(document).ready(function(){
	$.formValidator.initConfig({alertMessage:false});
	$("#username").formValidator({onshow:"请输入用户名,4-18位数字或字母组成",onfocus:"请输入用户名,4-18位数字或字母组成",oncorrect:"填写正确"}).InputValidator({min:4,max:18,onerror:"请输入一个4-18位的用户名"}).RegexValidator({regexp:"^[A-Za-z0-9]+$",onerror:"用户名由数字、26个英文字母组成"}).AjaxValidator({addidvalue:false,type:"POST",url:"/Admin/MembersProduct/checkMemberProduct.html",data:"goods_id="+$("#goods_id").val(),buttons:$("#button"),success:function(data){if(data==-1)return "用户名不存在！";if(data==1)return "该会员已经拥有该产品！";return data==0;},error: function(jqXHR,textStatus,errorThrown){alert("服务器没有返回数据，可能服务器忙，请重试"+errorThrown);},onwait:"正在检测用户是否拥有该产品，请稍候..."});
});
/*
// 输入会员的时候，要判断是否已经为该会员添加了当前产品
$("#una11me").blur(function(){
    var members_name=$("#uname").val();
    var goods_id=$("#goods_id").val();
    $.post(
        "{:U('MembersProduct/checkMemberProduct')}",
        {member_name:members_name,goods_id:goods_id},
        function(data){
            if(data!==0){
                alert("该会员已经拥有该产品");
                $("#uname").focus();
            }
        }
    );
   
});*/
</script>
</block>